<h1 class="heading">Convert the date time from UTC to IST</h1>


<div class="container">
  <div class="input-container1">

    <input type="text" (input)="onChangeUTC($event)" class="input-box" id="utc-date-time" placeholder="Date Time" [value]="utcDateTime">
    <a href="" class="copy-to-clipboard">COPY UTC</a>
  </div>

  <div class="date-time-details">
    <div class="details">
      <label class="label" for="year">Year: </label>
      <input class="year-input" id="year" type="number" placeholder="Year" [value]="year" (input)="onChangeYear($event)">
    </div>

    <div class="details">
      <label class="label" for="month">Month: </label>
      <input class="year-input" id="month" type="number" placeholder="Month" [value]="month" (input)="onChangeMonth($event)">
    </div>

    <div class="details">
      <label class="label" for="day">Day: </label>
      <input class="year-input" id="day" type="number" placeholder="Day" [value]="day" (input)="onChangeDay($event)">
    </div>
  </div>

  <div class="input-container2">

    <a href="" class="copy-to-clipboard">COPY IST</a>
    <div class="date-time" id="ist-date-time">{{dateTime}}</div>
  </div>



</div>
